.heroBanner {
	width: 100%;
	height: 450px;
	margin-bottom: 18px;
	background-color: var(--black);
	display: flex;
	align-items: center;
	position: relative;
}

.contentWrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.backdrop-img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.7;
	overflow: hidden;
}

.backdrop-img .lazy-load-image-background {
	width: 100%;
	height: 100%;
	color: transparent;
	display: inline-block;
}

.backdrop-img .lazy-load-image-background img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.opacity-layer {
	width: 100%;
	height: 250px;
	background: linear-gradient(180deg, rgba(112, 66, 192, 0) 0%, black 78%);
	position: absolute;
	bottom: 0;
	left: 0;
}

.heroBannerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	text-align: center;
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}

.heroBannerContent .title {
	font-size: 51px;
	font-weight: 750;
}

.heroBannerContent .subTitle {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 42px;
}

.heroBannerContent .searchInput {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.heroBannerContent .searchInput input {
	width: calc(100% - 100px);
	height: 60px;
	background-color: white;
	outline: 0;
	border: 0;
	border-radius: 30px;
	font-size: 21px;
	padding: 0 15px;
}

.heroBannerContent button {
	width: 100px;
	height: 60px;
	background: var(--gradient);
	color: white;
	outline: 0;
	border: 0;
	border-radius: 0 30px 30px 0;
	font-size: 16px;
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	.heroBannerContent .title {
		margin-bottom: 0;
		font-size: 90px;
	}
	.heroBannerContent .subTitle {
		font-size: 24px;
	}
}